# Python
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Django
db.sqlite3
db.sqlite3-journal
/staticfiles/
/media/
*.log

# Environments
.venv/
venv/
ENV/
env/

# IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
